.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tag{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease; 
}
.tag:hover{
    box-shadow: 0px -5px 10px 0px rgb(235,204,192),
    5px 0px 10px 0px rgb(235,204,192),
    5px 0px 10px 0px rgb(235,204,192),
    0px 5px 10px 0px rgb(235,204,192);
}