body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-background{
  background-color: rgb(245,245,245);
  /* height: auto; */
  width: 100%;
  position: relative;
}
.bg-circle-blue-1, .bg-circle-blue-2{
  width: 327px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 327px;
  background-color: rgba(0, 86, 123, 0.40);
  filter: blur(35px);
  position: absolute;
}
.bg-circle-blue-1{
  
}
.bg-circle-blue-2{

}
.bg-circle-red-1, .bg-circle-red-3, .bg-circle-red-2{
  width: 232px;
  height: 232px;
  flex-shrink: 0;
  background-color: rgba(205, 59, 0, 0.40);
  filter: blur(35px);
  position: absolute;
}
.bg-circle-red-3{
  
}
.bg-circle-red-2{

}

.bg-circle-orange-1, .bg-circle-orange-2, .bg-circle-orange-3{
  width: 366px;
  height: 364px;
  /* flex-shrink: 0; */
  border-radius: 366px;
  background: rgba(255, 162, 0, 0.40);
  filter: blur(35px);
  position: absolute;
}
.bg-circle-orange-1{
  /* bottom: 1px; */
}
.bg-circle-orange-2{

} 
.bg-circle-orange-3{

}
.bg-circle-green-1, .bg-circle-green-2{
  width: 276px;
  height: 275px;
  flex-shrink: 0;
  border-radius: 276px;
  background-color: rgba(0, 218, 219, 0.40);
  filter: blur(35px);
  position: absolute;
}
.bg-circle-green-1{

}
.bg-circle-green-2{

}
.home{
  text-align: center;
}
@media only screen and (max-width: 430px) {
 .app-background{
  height: 932px;
 }
 .bg-circle-blue-1{
  position: absolute;
  width: 327px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 327px;
  background: rgba(0, 86, 123, 0.40);
  filter: blur(35px);
  right:-25%;
  top:280px;
 }
 .bg-circle-orange-1{
  position: absolute;
  width: 366px;
  height: 364px;
  flex-shrink: 0;
  fill: rgba(205, 59, 0, 0.40);
  filter: blur(35px);
  bottom:0px;
  left:-10%;
 }
 .bg-circle-green-1{
  position: absolute;
  bottom: 60px;
  right:-10%;
 } 
 .bg-circle-red-1{
  position: absolute;
  width: 232px;
  height: 232px;
  flex-shrink: 0;
  fill: rgba(205, 59, 0, 0.40);
  filter: blur(35px);
  bottom: 380px;
  left:-20%;
 }
 .logo{
  width: 310px;
  height: 188px;
  flex-shrink: 0;
  margin: 0px 60px 10px 60px;
  padding-top: 18px;
 }
 .search-box-container{
  position: relative;
 }
 .search-slider-container{
  width: 80%;
  margin: auto;
  position: absolute;
  top:60px;
  left:50px;
 }
 .search-box-height{
  height: 936px;
 }
 .search-box{
  width: 355px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
  color: #656565;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding-left: 10px;
  position: relative;
 }
 .search-filter-icon{
  position: absolute;
  top:0;
  right:50px;
 }

 .bg-circle-blue-2, .bg-circle-green-2, .bg-circle-orange-2, .bg-circle-orange-3, .bg-circle-red-3, .bg-circle-red-2{
    display: none;
 } 
 .flex{
  display: flex;
 }
 .gap-1{
  gap:10px;
 }
 .flex-row{
  flex-direction: row;
 }
 .tags-container{
    width: 90%;
    margin: 10px auto;
    justify-content: space-evenly;
 }
 .tag{
  border-radius: 10px;
  border: 1px solid #CD3B00;
  background: rgba(101, 101, 101, 0.02);
  padding: 5px 10px;
  color: #CD3B00;
 }
 .filter-text-container{
  width: 80%;
  margin: auto;
  text-align: left;
 }
 .filter-text-container span{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
 }
 .organization-container{
  width: 80%;
  margin: 10px auto;
 }
 .organization-card{
    margin-top: 10px;
    /* width: 355px;
    height: 170px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 10px;
 }
 .organization-card-main{
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap:10px;
  text-align: left;
 }
 .organization-card-text{
  padding: 0px 10px;
  /* width: 100%; */
 }
 .organization-card-icon{
  height: 34px;
  width: 34px;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
 }
 .organization-card-icon img{
  height: 34px;
  width: 34px;
 }
 .organization-title{
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 }
 .organization-address, .organization-description{
  color: #656565;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
 }
 .organization-card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .organization-card-footer div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
 }
 .organization-card-footer div a{
  text-decoration: none;
  color: #656565;
 }
}