html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shadow{
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.10) inset,
  5px 0px 10px 0px rgba(0, 0, 0, 0.10) inset,
  5px 0px 10px 0px rgba(0, 0, 0, 0.10) inset,
  0px 5px 10px 0px rgba(0, 0, 0, 0.10) inset;
  background-color: rgba(255, 255, 255,0.5);
}
.custom-shadow:hover{
  box-shadow: 0px -5px 10px 0px rgb(235,204,192) inset,
  5px 0px 10px 0px rgb(235,204,192) inset,
  5px 0px 10px 0px rgb(235,204,192) inset,
  0px 5px 10px 0px rgb(235,204,192) inset;
}
input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance:none;
}
.search-slider-container{
  animation: searchSliderContainer .5s ease;
}
.search-slider-container label, input{
  animation: searchSliderContainerContent 1s ease;
}
@keyframes searchSliderContainer {
  0% {
    max-height: 0;
  }
  50% {
    max-height: 23px;
  }
  100% {
    max-height: 46px;
  }
}
@keyframes searchSliderContainerContent {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* ==== Media Queries ======== */
/* 375px */
@media(min-width:375px){
  .logo-container{
    width: 80%;
    margin: auto;
  }
}